<!DOCTYPE html>
<html lang="en" dir=ZgotmplZ>

<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="
  Tabs
  #

Tabs let you organize content by context, for example installation instructions for each supported platform.
{{&lt; tabs &gt;}}
{{&lt; tab &#34;MacOS&#34; &gt;}} # MacOS Content {{&lt; /tab &gt;}}
{{&lt; tab &#34;Linux&#34; &gt;}} # Linux Content {{&lt; /tab &gt;}}
{{&lt; tab &#34;Windows&#34; &gt;}} # Windows Content {{&lt; /tab &gt;}}
{{&lt; /tabs &gt;}}

  Example
  #






  MacOS
  
  MacOS
  #

This is tab MacOS content.
Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui quid, ignes.
Miseratus fonte Ditis conubia.">
<meta name="theme-color" content="#FFFFFF"><meta property="og:url" content="https://justreadrtheinstructions.com/docs/shortcodes/tabs/">
  <meta property="og:site_name" content="Just Readr the Instructions">
  <meta property="og:title" content="Just Readr the Instructions">
  <meta property="og:description" content="Tabs#Tabs let you organize content by context, for example installation instructions for each supported platform.
{{&lt; tabs &gt;}} {{&lt; tab &#34;MacOS&#34; &gt;}} # MacOS Content {{&lt; /tab &gt;}} {{&lt; tab &#34;Linux&#34; &gt;}} # Linux Content {{&lt; /tab &gt;}} {{&lt; tab &#34;Windows&#34; &gt;}} # Windows Content {{&lt; /tab &gt;}} {{&lt; /tabs &gt;}} Example#MacOSMacOS#This is tab MacOS content.
Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa protulit, sed sed aere valvis inhaesuro Pallas animam: qui quid, ignes. Miseratus fonte Ditis conubia.">
  <meta property="og:locale" content="en">
  <meta property="og:type" content="article">
    <meta property="article:section" content="docs">
<title>Tabs | Just Readr the Instructions</title>
<link rel="manifest" href="/manifest.json">
<link rel="icon" href="/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="/book.min.d08be657f4d0d61b509ac06e1059e92fd1c66f15535a6bd4cee27e19935f34ae.css" integrity="sha256-0IvmV/TQ1htQmsBuEFnpL9HGbxVTWmvUzuJ&#43;GZNfNK4=">
<script defer src="/en.search.min.a6797f263f80b1d4806c640d55a7262de2e02b28ea96462219b13eb1f2146040.js" integrity="sha256-pnl/Jj&#43;AsdSAbGQNVacmLeLgKyjqlkYiGbE&#43;sfIUYEA="></script>

<script defer src="/sw.min.6f6f90fcb8eb1c49ec389838e6b801d0de19430b8e516902f8d75c3c8bd98739.js" integrity="sha256-b2&#43;Q/LjrHEnsOJg45rgB0N4ZQwuOUWkC&#43;NdcPIvZhzk="></script>
<!--
Made with Book Theme
https://github.com/alex-shpak/hugo-book
-->

  
</head>

<body dir=ZgotmplZ>
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="book-menu">
      
  <nav>
<h2 class="book-brand">
  <a href="/"><span>Just Readr the Instructions</span>
  </a>
</h2>


<div class="book-search">
  <input type="text" id="book-search-input" placeholder="Search" aria-label="Search" maxlength="64" data-hotkeys="s/" />
  <div class="book-search-spinner hidden"></div>
  <ul id="book-search-results"></ul>
</div>











  <ul>
<li>
<p>
  <a href="/docs/example/"><strong>Example Site</strong></a></p>
</li>
<li>
<p>
  <a href="/docs/example/table-of-contents/">Table of Contents</a></p>
<ul>
<li>
  <a href="/docs/example/table-of-contents/with-toc/">With ToC</a></li>
<li>
  <a href="/docs/example/table-of-contents/without-toc/">Without ToC</a></li>
</ul>
</li>
<li>
<p>
  <a href="/docs/example/collapsed/">Collapsed</a></p>
<ul>
<li>
  <a href="/docs/example/collapsed/3rd-level/">3rd</a> - 
  <a href="/docs/example/collapsed/3rd-level/4th-level/">4th</a>
<br /></li>
</ul>
</li>
<li>
<p><strong>Shortcodes</strong></p>
</li>
<li>
<p>
  <a href="/docs/shortcodes/buttons/">Buttons</a></p>
</li>
<li>
<p>
  <a href="/docs/shortcodes/columns/">Columns</a></p>
</li>
<li>
<p>
  <a href="/docs/shortcodes/hints/">Hints</a></p>
</li>
<li>
<p>
  <a href="/docs/shortcodes/katex/">KaTeX</a></p>
</li>
<li>
<p>
  <a href="/docs/shortcodes/mermaid/">Mermaid</a></p>
</li>
<li>
<p>
  <a href="/docs/shortcodes/tabs/"class=active>Tabs</a>
<br /></p>
</li>
</ul>






  
<ul>
  
  <li>
    <a href="/posts/" >
        Blog
      </a>
  </li>
  
</ul>






</nav>




  <script>(function(){var e=document.querySelector("aside.book-menu nav");addEventListener("beforeunload",function(){localStorage.setItem("menu.scrollTop",e.scrollTop)}),e.scrollTop=localStorage.getItem("menu.scrollTop")})()</script>


 
    </aside>

    <div class="book-page">
      <header class="book-header">
        
  <div class="flex align-center justify-between">
  <label for="menu-control">
    <img src="/svg/menu.svg" class="book-icon" alt="Menu" />
  </label>

  <strong>Tabs</strong>

  <label for="toc-control">
    
    <img src="/svg/toc.svg" class="book-icon" alt="Table of Contents" />
    
  </label>
</div>


  
  <aside class="hidden clearfix">
    
  <nav id="TableOfContents">
  <ul>
    <li><a href="#example">Example</a></li>
  </ul>
</nav>


  </aside>
  
 
      </header>

      
      
  <article class="markdown"><h1 id="tabs">
  Tabs
  <a class="anchor" href="#tabs">#</a>
</h1>
<p>Tabs let you organize content by context, for example installation instructions for each supported platform.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-tpl" data-lang="tpl"><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">tabs</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">tab</span> <span style="color:#e6db74">&#34;MacOS&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span> # MacOS Content <span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">tab</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">tab</span> <span style="color:#e6db74">&#34;Linux&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span> # Linux Content <span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">tab</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#a6e22e">tab</span> <span style="color:#e6db74">&#34;Windows&#34;</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span> # Windows Content <span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">tab</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span><span style="display:flex;"><span><span style="color:#75715e">{{</span><span style="color:#f92672">&lt;</span> <span style="color:#f92672">/</span><span style="color:#a6e22e">tabs</span> <span style="color:#f92672">&gt;</span><span style="color:#75715e">}}</span>
</span></span></code></pre></div><h2 id="example">
  Example
  <a class="anchor" href="#example">#</a>
</h2>




<div class="book-tabs"><input type="radio" class="toggle" name="tabs-%!s(&lt;nil&gt;)" id="tabs-%!s(&lt;nil&gt;)-0" checked="checked" />
  <label for="tabs-%!s(&lt;nil&gt;)-0">MacOS</label>
  <div class="book-tabs-content markdown-inner"><h1 id="macos">
  MacOS
  <a class="anchor" href="#macos">#</a>
</h1>
<p>This is tab <strong>MacOS</strong> content.</p>
<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.</p>
</div><input type="radio" class="toggle" name="tabs-%!s(&lt;nil&gt;)" id="tabs-%!s(&lt;nil&gt;)-1"  />
  <label for="tabs-%!s(&lt;nil&gt;)-1">Linux</label>
  <div class="book-tabs-content markdown-inner"><h1 id="linux">
  Linux
  <a class="anchor" href="#linux">#</a>
</h1>
<p>This is tab <strong>Linux</strong> content.</p>
<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.</p>
</div><input type="radio" class="toggle" name="tabs-%!s(&lt;nil&gt;)" id="tabs-%!s(&lt;nil&gt;)-2"  />
  <label for="tabs-%!s(&lt;nil&gt;)-2">Windows</label>
  <div class="book-tabs-content markdown-inner"><h1 id="windows">
  Windows
  <a class="anchor" href="#windows">#</a>
</h1>
<p>This is tab <strong>Windows</strong> content.</p>
<p>Lorem markdownum insigne. Olympo signis Delphis! Retexi Nereius nova develat
stringit, frustra Saturnius uteroque inter! Oculis non ritibus Telethusa
protulit, sed sed aere valvis inhaesuro Pallas animam: qui <em>quid</em>, ignes.
Miseratus fonte Ditis conubia.</p>
</div></div>

</article>
 
      

      <footer class="book-footer">
        
  <div class="flex flex-wrap justify-between">





  <div>
    <a class="flex align-center" href="https://github.com/sgoley/sgoley.gitlab.io/edit/master///docs/shortcodes/tabs.md" target="_blank" rel="noopener">
      <img src="/svg/edit.svg" class="book-icon" alt="Edit" />
      <span>Edit this page</span>
    </a>
  </div>

</div>

 
        
      </footer>

      
  
 

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    
    <aside class="book-toc">
      
  <nav id="TableOfContents">
  <ul>
    <li><a href="#example">Example</a></li>
  </ul>
</nav>

 
    </aside>
    
  </main>

  
</body>

</html>












